
<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close"><span>&times;</span></button>
        <h1>Create Profile</h1>
      </div>
      <div class="modal-body">
        <form name="facebook-project" novalidate="novalidate">
          <div ng-class="{'has-success': addressForm.n.$dirty &amp;&amp; main.person.name.length &gt; 1, 'has-error': addressForm.n.$dirty &amp;&amp; !main.person.name}" class="form-group">
            <label class="control-label">Name</label>
            <input name="n" type="text" placeholder="John" ng-model="main.person.name" required="required" class="form-control"/>
          </div>
          <div ng-class="{'has-success': addressForm.p.$dirty &amp;&amp; main.person.email, 'has-error': addressForm.p.$dirty &amp;&amp; !main.person.email}" class="form-group">
            <label class="control-label">Email</label>
            <input name="e" type="email" placeholder="@me.com" ng-model="main.person.email" required="required" class="form-control"/>
          </div>
          <div ng-class="{'has-success': addressForm.t.$dirty &amp;&amp; main.person.email.length &gt; 1 &amp;&amp; main.person.email[0] === '@' , 'has-error': addressForm.t.$dirty &amp;&amp; (main.person.email.length &lt; 2 || main.person.email[0] !== '@')}" class="form-group">
            <label class="control-label">City</label>
            <input name="t" type="text" placeholder="where you live" ng-model="main.person.city" required="required" class="form-control"/>
          </div>
          <div ng-class="{'has-success': addressForm.t.$dirty &amp;&amp; addressForm.i.$valid , 'has-error': addressForm.t.$dirty &amp;&amp; addressForm.i.$invalid }" class="form-group">
            <label class="control-label">About Me</label>
            <textarea name="a" type="text" placeholder="about me" ng-model="main.person.about" required="required" class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-danger">Cancel</button>
        <button ng-click="addressForm.$valid &amp;&amp; main.saveAddress()" ng-disabled="addressForm.$invalid" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>