
<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close"><span>&times;</span></button>
        <h1>Address</h1>
      </div>
      <div class="modal-body">
        <form name="facebook-project" novalidate="novalidate">
          <div ng-class="{'has-success': addressForm.n.$dirty &amp;&amp; main.person.name.length &gt; 1, 'has-error': addressForm.n.$dirty &amp;&amp; !main.person.name}" class="form-group">
            <label class="control-label">Name</label>
            <input name="n" type="text" placeholder="John" ng-model="main.person.name" required="required" class="form-control"/>
          </div>
          <div ng-class="{'has-success': addressForm.p.$dirty &amp;&amp; main.person.phone, 'has-error': addressForm.p.$dirty &amp;&amp; !main.person.phone}" class="form-group">
            <label class="control-label">Phone</label>
            <input name="p" type="tel" placeholder="615-555-5555" ng-model="main.person.phone" required="required" class="form-control"/>
          </div>
          <div ng-class="{'has-success': addressForm.t.$dirty &amp;&amp; main.person.twitter.length &gt; 1 &amp;&amp; main.person.twitter[0] === '@' , 'has-error': addressForm.t.$dirty &amp;&amp; (main.person.twitter.length &lt; 2 || main.person.twitter[0] !== '@')}" class="form-group">
            <label class="control-label">Twitter</label>
            <input name="t" type="text" placeholder="@abc123" ng-model="main.person.twitter" required="required" class="form-control"/>
          </div>
          <div ng-class="{'has-success': addressForm.t.$dirty &amp;&amp; addressForm.i.$valid , 'has-error': addressForm.t.$dirty &amp;&amp; addressForm.i.$invalid }" class="form-group">
            <label class="control-label">Twitter</label>
            <input name="i" type="url" placeholder="http://google.com/img.jpg" ng-model="main.person.photo" required="required" class="form-control"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-danger">Cancel</button>
        <button ng-click="addressForm.$valid &amp;&amp; main.saveAddress()" ng-disabled="addressForm.$invalid" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>