doctype html
html(lang="en-US", ng-app="facebook-project")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Facebook-Project
  body(ng-controller="Main as main")
    .container
      form(name="newRegisterForm", ng-submit="newRegisterForm.$valid && main.addNewPerson()", novalidate)
        label Name
        input(type="text", placeholder="John", ng-model="main.newPerson.name", required)
        label Email
        input(type="email", placeholder="a@b.com", ng-model="main.email.email", required)
        label Password
        input(type="text", placeholder="password", ng-model="main.newPerson.password", required)
        input(type="submit", value="Register", ng-disabled="newRegisterForm.$invalid")
      table
        thead
          tr
            th
            th
            th
            th
        tbody
    

    script(src="lib/build.js")
    script(src="js/main.js")