doctype html
html(lang="en-US", ng-app="facebook-project")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Facebook-Project
  body(ng-controller="Main as main")
    .container
      form(name="loginForm", ng-submit="main.login()", novalidate)
        label Email
        input(type="email", placeholder="a@b.com", ng-model="main.user.email", required)
        label Password
        input(type="text", placeholder="password", ng-model="main.user.password", required)
        input(type="submit", value="Login")
      .app(ng-view)
 
    script(src="lib/build.js")
    script(src="js/main.js")